<h1 style="font-family: 'Sora', sans-serif">Reset your password </h1>
<p style="font-family: 'Sora', sans-serif">
Forgot your password? No worries! Click the link below to set a new one and get back to Pollen.
</p>
<br>
<a href="{{ .SiteURL }}/login/auth/reset-password?token_hash={{ .TokenHash }}&type=recovery"
    style="display:inline-block; font-weight:500; border-radius:6px; border:none; padding:12px 32px; background-color:#DB2777; font-family: 'Sora', sans-serif; color: white; text-decoration:none;">
Reset Password
</a>