<h1 style="font-family: 'Sora', sans-serif">Confirm your account</h1>
<br>
<p style="font-family: 'Sora', sans-serif">Welcome and thanks for signing up with us! To complete your registration, please confirm your profile by following the next link:</p>
<br>
<a 
href="{{ .SiteURL }}/login/auth/confirm?token_hash={{ .TokenHash }}&type=email"
style="display:inline-block; text-decoration:none; font-weight:500; border-radius:6px; border:none; padding:12px 32px; background-color:#DB2777; font-family: 'Sora', sans-serif; color: white;"
>
Confirm your mail
</a>
<br>
<p style="font-family: 'Sora', sans-serif; margin:24px 0 0 0;">Thanks,</p>
<h3 style="font-family: 'Sora', sans-serif; margin:0;">The Pollen Team</h3>